<% if signed_in? %>
  <div class="row">
  	
  	<aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center hero-unit">
  <h1 style='text-align: center'>AWEsome Bear</h1>

  <h2>
     loading hard ...
  </h2>

  <%= link_to "Start now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div style='overflow:hidden'>
<div style='float:right'>
	<%= link_to image_tag("bottle.jpeg", alt: "Rails"), '#' %>
</div>
</div>
<% end %>

