<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo">sample app</a>
      <nav>
        <ul class="nav pull-right">
          <li class ='header_li'><%= link_to "Home",   root_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
          <li class ='header_li'><%= link_to "Help",    help_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
          <% if signed_in? %>
            <li class ='header_li'><%= link_to "Users", users_path, {:style=>"color: #FFFFFF;font-weight:bold;"}%></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" data-toggle="dropdown">
                <text style = 'color: #FFFFFF;font-weight:bold'>Account</text> <b class="caret white-caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete"%>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path, {:style=>"color: #FFFFFF;font-weight:bold;"} %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>